
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

pip-log.txt
pip-delete-this-directory.txt

logs/
*.log
debug.log
*.out
*.err
*.cache/
*.tmp

input_videos/
output_videos/

.vscode/
.idea/
*.iml
*.swp
*.swo

.DS_Store
Thumbs.db

.ipynb_checkpoints/
*.ipynb_checkpoints/
